

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 4px;
}

.container div {
    padding: 15px;
    font-size: 15px;
}

.header {
    background-color: #ffffff;
    border: 1px solid black;
    grid-column: 2;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    /*change sizes? change item pos?*/
}

.searchbar input[type="search"] {
    background-color: rgba(226,232,240,255);
    border: none;
    border-radius: 15px;
    width: 500px;
    padding: 7px;
    font-size: 0.8rem;
}

.searchbar {
    justify-self: start;
    align-self: center;
    display: flex;
}

.searchbar .search-icon {
    width: 20px;
    height: auto;
    margin-right: 15px;
}

.bottom-left{
    display: flex;
    align-items: center;
    gap: 4px;
}

.bottom-left .moogle {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.btm-btns {
    justify-self: end;
    align-self: center;
}

.name-txt::first-line {
    font-size: 0.8rem;
}

.name-txt .name {
    font-size: 1.5rem;
}



.top-right {
    align-self: center;
    justify-self: end;
}

.top-right ul {
    gap: 10px;
    align-items: center;
    
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.top-right li {
    list-style: none;
}

.top-right .bell-icon {
    width: 20px;
    height: auto;
}

.top-right .moogle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.bottom {
    grid-column: 1 / span 2;
}

.sidebar {
    background-color: blue;
    grid-column: 1;
    grid-row: 1 / 3;

    display: grid;
    grid-column: 1fr;
}

.dashboard {
    justify-self: start;
    align-self: center;
}

.sidebar ul {
    justify-self: start;
    align-self: center;
    list-style: none;
}

.main-content {
    background-color: green;
    grid-column: 2;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.main-content .card {
    background-color: white;
}





